@using EcommerceProject.Models.Mapping;
@{
    //load file Layout.cshtml vao day
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
@{
    List<ItemTag> TagsList = ViewBag.Tags;
    List<ItemCategoriesProducts> categoriesProducts = ViewBag.ListCategoriesProducts;
    List<ItemTagsProducts> tagsProducts = ViewBag.ListTagProducts;
    List<ItemCategory> categoriesList = ViewBag.Categories;
}
@functions{
   public List<ItemCategory> ListSubCategories( List<ItemCategory> categoriesListsm,int _CategoryId)
    {
        List<ItemCategory> list_categories = categoriesListsm.Where(item => item.ParentId == _CategoryId).OrderByDescending(item => item.Id).ToList();
        return list_categories;
    }
    
    public bool CheckCategoriesProductsRecord(  List<ItemCategoriesProducts> categoriesProductsm ,int _CategoryId, int _ProductId)
    {
        ItemCategoriesProducts record = categoriesProductsm.Where(item => item.CategoryId == _CategoryId && item.ProductId == _ProductId).FirstOrDefault();
        if(record != null)
        {
            return true;
        }
        return false;
    }
    
    public bool CheckTagsProductsRecord(List<ItemTagsProducts> tagsProductsm, int _TagId, int _ProductId)
    {
        ItemTagsProducts record = tagsProductsm.Where(item => item.TagId == _TagId && item.ProductId == _ProductId).FirstOrDefault();
        if (record != null)
        {
            return true;
        }
        return false;
    }
}
<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">Add edit product</div>
        <div class="panel-body">
           
            <form method="post" enctype="multipart/form-data" action="@ViewBag.action">
                <!-- rows -->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Name</div>
                    <div class="col-md-10">
                        <input type="text" value="@if(Model!=null){<text>@Model.Name</text>}" name="name" class="form-control" required>
                    </div>
                </div>
                <!-- end rows -->
                <!-- rows -->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Categories</div>
                    <div class="col-md-10" style="height:150px; overflow:scroll;">
                        <table class="table">
                            @foreach (var item in categoriesList.Where(x => x.ParentId == 0))
                            {
                                <tr>
                                    <td>
                                        <input type="checkbox" @if(Model!= null && CheckCategoriesProductsRecord(categoriesProducts,item.Id,Model.Id)){ <text>checked</text> } value="@item.Id" name="category_@item.Id" id="category_@item.Id" />&nbsp;&nbsp; <label for="category_@item.Id">@item.Name</label>
                                    </td>
                                </tr>
                                List<ItemCategory> list_sub_categories = ListSubCategories(categoriesList, item.Id);
                                    foreach (var itemSub in list_sub_categories)
                                    {
                                        <tr>
                                            <td style="padding-left:30px;">
                                                <input type="checkbox" @if(Model!= null && CheckCategoriesProductsRecord(categoriesProducts,item.Id,Model.Id)){ <text>checked</text> } value="@itemSub.Id" name="category_@itemSub.Id" id="category_@itemSub.Id" />&nbsp;&nbsp; <label for="category_@itemSub.Id">@itemSub.Name</label>
                                            </td>
                                        </tr>
                                    }
                            }
                        </table>
                    </div>
                </div>
                <!-- end rows -->
                <!-- rows -->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Tags</div>
                    <div class="col-md-10" style="height:150px; overflow:scroll;">
                        
                        <select name="tags" multiple class="form-control">
                            @foreach(var item_tag in TagsList)
                            {
                                <option @if(Model!= null && CheckTagsProductsRecord(tagsProducts,item_tag.Id,Model.Id)){ <text>selected</text> } value="@item_tag.Id">@item_tag.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <!-- end rows -->
                <!-- rows -->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Price</div>
                    <div class="col-md-10">
                        <input type="number" value="@if(Model!=null){<text>@Model.Price</text>}else{<text>0</text>}" name="price" class="form-control" required>
                    </div>
                </div>
                <!-- end rows -->
                <!-- rows -->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Discount</div>
                    <div class="col-md-10">
                        <input type="number" min="0" max="100" value="@if(Model!=null){<text>@Model.Discount</text>}else{<text>0</text>}" name="discount" class="form-control" required>
                    </div>
                </div>
                <!-- end rows -->
                <!-- rows -->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Photo</div>
                    <div class="col-md-10">
                        <input type="file" name="photo" class="form-control">
                    </div>
                </div>
                <!-- end rows -->
                <!-- rows -->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Hot</div>
                    <div class="col-md-10">
                        <input type="checkbox" name="hot" id="hot" @if(Model != null && Model.Hot == 1){<text>checked</text>}> <label for="hot">Hot</label>
                    </div>
                </div>
                <!-- end rows -->                
                <!-- rows -->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Description</div>
                    <div class="col-md-10">
                        <textarea name="description" id="description">@if(Model!=null){<text>@Model.Description</text>}</textarea>
                        <script language="javascript">
                            CKEDITOR.replace("description");
                        </script>
                    </div>
                </div>
                <!-- end rows -->
                <!-- rows -->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Content</div>
                    <div class="col-md-10">
                        <textarea name="content" id="content">@if(Model!=null){<text>@Model.Content</text>}</textarea>
                        <script language="javascript">
                            CKEDITOR.replace("content");
                        </script>
                    </div>
                </div>
                <!-- end rows -->
                <!-- rows -->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <input type="submit" value="Process" class="btn btn-primary">
                    </div>
                </div>
                <!-- end rows -->
            </form>
        </div>
    </div>
</div>
